<link rel="stylesheet" type="text/css" href="/styles.css" />

{% extends 'base.html' %}
{% block head %}
<title>Opportunities Page </title>
{% endblock%}
{% block body %}
<h1 style="display: inline">Admin Page: </h1>
<br>
<br>
<div>
    <a style="display: inline" class="btn btn-success float-right"
        href="/admin/create_account">+Create New Account</a>
<br>
<br>
    <label for="user">Choose an account to edit or delete:</label>
    {% for user in posts%}
        <a style="display: inline" class="btn btn-success float-right"
        href="{{url_for('admin.edit_or_delete_account', user_id=user.user_id)}}"> {{user.email}}</a>
    <br>
    {% endfor %}
</div>
    <br>
<br>
<br>
<hr>
<br>
<hr>
{% endblock%}