<link rel="stylesheet" type="text/css" href="/styles.css" />
{% extends 'base.html' %}
{% block head %}
<title>Create New Account</title>
{% endblock%}
{% block body %}
<h1>Create New Account</h1>
<hr>
    <h2></h2>
<form class="post-form" action="{{url_for('admin.create_account')}}" method="POST">
    <section class="content">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{message}}</div>
                {% endfor %}
    </section>
    <label for="Email:">Email:</label>
    <input class="form-control" type="text" name="email" id="email" placeholder="Enter Email" aria-label="Enter Email">
    <br>
    <label for="content">Password:</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Enter password"
        aria-label=" Enter password">
    <br>
    <label for="Role">Choose a role for the user:</label>
    <select id="role" input class="form-control" name="role">
        <option value="student">Student</option>
        <option value="community-partner">Community Partner</option>
        <option value="admin">Admin</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<hr>
{% endblock%}