<link rel="stylesheet" type="text/css" href="/styles.css" />

{% extends 'base.html' %}
{% block head %}
<title>Edit Page</title>
{% endblock%}
{% block body %}
<h1>Editing Post: </h1>
<hr>
<h2>Edit:</h2>
<form class="posts" action="{{url_for('opportunities.edit', id=post.id)}}" method="POST">
    <label for="content">Title:</label>
    <input class="form-control" type="text" name="title" id="title"
        value="{{post.title}}">
    <br>
    <label for="content">Author:</label>
    <input class="form-control" type="text" name="author" id="author"
        value="{{post.posted_by}}">
    <br>
    <label for="occurance_from">Choose a meeting time for your opportunity:</label>
    <input class="form-control" type="datetime-local" name="occurance_from" id="occurance_from" min="2023-01-01T00:00"
        max="2024-06-30T00:00"
        value="{{post.occurance_from}}">
    <br>
    <label for="post">Post:</label>
    <textarea class="form-control" id="post" name="post" rows="3">{{post.content}}</textarea>
    <br>
    <input type="submit" value="Save">
</form>
<hr>
{% endblock%}