<link rel="stylesheet" type="text/css" href="/styles.css" />

{% extends 'base.html' %}
{% block head %}
<title>Opportunities Page </title>
{% endblock%}
{% block body %}
<br>
<div>
    <h1 style="display: inline">All Opportunities Here: </h1>
    {% if g.User.role != 'student' %}
        <a style="display: inline" class="btn btn-success float-right"
            href="{{url_for('opportunities.new_post')}}">+ New Opportunities</a>
    {% endif %}
</div>
<br>
<hr>
{% for post in posts%}
<h2>{{post.title}}</h2>
<h3>Occurance: {{post.occurance_from}}</h3>
{% if post.posted_by %}
<small>Written by {{post.posted_by}} on {{post.posted_on.strftime("%B %d, %Y at %I:%M %p EST")}}</small>
{% else%}
<small>Written by Anonymous on {{post.posted_on.strftime("%B %d, %Y at %I:%M %p EST")}}</small>
{% endif %}
<p style="white-space: pre-wrap">{{post.content}}</p>
<br>
{% if g.User.role != 'student' %}
    <a href="{{url_for('opportunities.delete', id=post.id)}}"><img
            src="/static/images/delete.png"
            height="50px" width="50px"></a>
    <a href="{{url_for('opportunities.edit', id=post.id)}}"><img
            src="/static/images/edit.png"
            height="50px"
            width="50px"></a>
{% endif %}

{% if g.User.role == 'student' %}
    <a href="{{url_for('joinup')}}"><img
            src="/static/images/join_now.png"
            height="70px"
            width="210px"></a>
{% endif %}

<hr>
{% endfor %}
{% endblock%}