<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles.css" rel="stylesheet" type="text/css">
        <title>Dashboard</title>
    </head>

    <body>
        <div class="sidebar">
            <div class="topbutton">
                <a class="navbutton" href="{{url_for('home')}}">Home</a>
            </div>
            <br>
            <div class="navbutton">
                Settings
            </div>
            <br>
            <div class="navbutton">
                <a class="navbutton" href="{{url_for('posts')}}">Posts</a>
            </div>
            <br>
            <div class="navbutton">
                <a class="navbutton" href="{{url_for('home')}}">Logout</a>
            </div>

        </div>
        <h1 class="header">Welcome to the Dashboard!</h1>

        <div class="mainwrapper"> hi more testing :3</div>
    </body>

</html>