<link rel="stylesheet" type="text/css" href="/static/styles.css" />

{% extends 'base.html' %}
{% block head %}
<title>Edit Page</title>
{% endblock%}
{% block body %}
<h1>Editing Post: </h1>
<hr>
<h2>Edit:</h2>
<form class="posts" action="/posts/edit/{{post.id}}" method="POST">
    <label for="content">Title:</label>
    <input class="form-control" type="text" name="title" id="title"
        value="{{post.title}}">
    <br>
    <label for="content">Author:</label>
    <input class="form-control" type="text" name="author" id="author"
        value="{{post.posted_by}}">
    <br>
    <label for="post">Post:</label>
    <textarea class="form-control" id="post" name="post" rows="3">{{post.content}}</textarea>
    <br>
    <input type="submit" value="Save">
</form>
<hr>
{% endblock%}