<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>

    <body>
        <form method="post">
            <h1 style="font-size:30px">Login Page</h1>
            <p>Welcome to the login page! This is where students or admins will
                be able to
                log in to their accounts.</p>
            <p>Here, a student will enter a username and password. Emails may be
                added further
                down the line.
            </p>
            <h2></h2>
            <section class="content">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{message}}</div>
                {% endfor %}
            </section>
            <h3 style="font-size:25px; color:red">Username</h3>
            <p style="font-family:verdana">Enter username here: </p>
            <input name="username" id="username" required>

            <h4 style="font-size:25px; color:blue">Password</h4>
            <p style="font-family:'Courier New'">Enter password here: </p>
            <input name="password" input type="password" id="password" required>

            <a href="{{ url_for('register') }}">Don't have an account? Sign Up!</a>
            <h5> <input type="submit" value="Log in"></h5>
        </body>

    </html>