<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Testing</title>
</head>

<body>
    <h1 style="font-size:30px">Post Testing Page</h1>
    <form method="POST">
        <p>Login </p><br>
            <p>Value1 <input type = "text" name = "Value1" /></p>
            <p><input type = "submit" value = "submit" name = "submit" /></p>
        
        </form>
        input is {{value1}}
        <p>Posting page is still a work in progress</p>
    <a href="{{ url_for('home') }}">Click here to go back to homepage!</a>
</body>

</html>