{% extends 'base.html' %}
{% block head %}
<title>Posts Page </title>
{% endblock%}
{% block body %}
<br>
<style width="200px">
        body {
          background-image: url('https://www.xavier.edu/zoom-backgrounds/images/zoom_x-pattern-5.jpg');
        }
        </style>
<div>
    <h1 style="display: inline">All Posts Here: </h1>
    <a style="display: inline" class="btn btn-success float-right"
        href="/post/new">+ New Post</a>
</div>
<br>
<hr>
{% for post in posts%}
<h2>{{post.title}}</h2>
{% if post.posted_by %}
<small>Written by {{post.posted_by}} on {{post.posted_on.strftime("%B %d, %Y at %I:%M %p UTC")}}</small>
{% else%}
<small>Written by Anonymous on {{post.posted_on.strftime("%B %d, %Y at %I:%M %p UTC")}}</small>
{% endif %}
<p style="white-space: pre-wrap">{{post.content}}</p>
<br>
<a href="/posts/delete/{{post.id}}"><img
        src="/static/images/delete.png"
        height="50px" width="50px"></a>
<a href="/posts/edit/{{post.id}}"><img
        src="/static/images/edit.png"
        height="50px"
        width="50px"></a>
<hr>
{% endfor %}
{% endblock%}