<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Register Page</h1>
    <P>Welcome to the register page! This is where students or admins will be able to
        register and create their accounts.</P>
    <p>Here, a student will enter a username and password. Emails may be added further
        down the line.
    </p>

    <h2 style="font-size:25px; color:red">Username</h2>
    <p style="font-family:verdana">Enter username here: </p>

    <h3 style="font-size:25px; color:blue">Password</h3>
    <p style="font-family:'Courier New'">Enter password here: </p>

    <a href="{{ url_for('login') }}">Already have an account? Log in!</a>
</body>

</html>